<form id="ajax-form" class="search-filters-form">
    <input type="hidden" id="ajax-settings" data-url="{{ url }}">
    <div data-aos="fade-up" data-aos-delay="300">
        <div class="search-input-ctn">
            <div class="input-ctn">
                <input id="search" type="text" name="search" placeholder="Rechercher" value="{{ params['search'] }}"/>
                <span class="icon-MagnifyingGlass search-icon unfilled"></span>
                <span class="icon-cross search-icon filled"></span>
            </div>
        </div>
        <div class="subfilters-ctn">
            <div id="togglerContainer">
                <label for="filtersToggler" id="unchecked-label">{{__('Étudiant.es', 'ismees')}}</label>
                <input type="checkbox" name="member" id="filtersToggler" data-type="notClearable" {% if member %}checked{% endif %}>
                <label for="filtersToggler" id="checked-label">{{__('Personnel des établissements', 'ismees')}}</label>
            </div>
            <div class="display-filters-ctn">
                <p class="result-counter"><span class="result-count">{{ total }}</span> {{__('résultats', 'simees')}}</p>
                <div class="filters-button">
                    <a class="main-button -blue" id="sidebarOpener"><i class="icon-filter"></i>{{ __('Filtres', 'ismees') }}<span id="filters-count"></span/></a>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebarFilters">
        <div class="close-sidebar cross-ctn">
            <i class="icon-cross cross"></i>
        </div>
        <div class="sidebar-list">
            {% include "partials/filters/filters-list.twig" with {
                'title': __('Population étudiante', 'ismees'),
                'filters': categories,
                'taxo_name': 'category'
                }
            %}
            <div class="student-filters">
                {% include "partials/filters/filters-list.twig" with {
                    'title': __('Sujets', 'ismees'),
                    'filters': subjects_students,
                    'taxo_name': 'subjects'
                    }
                %}
                {% include "partials/filters/filters-list.twig" with {
                    'title': __('Types de ressource', 'ismees'),
                    'filters': types_students,
                    'taxo_name': 'type'
                    }
                %}
            </div>
            <div class="member-filters">
                {% include "partials/filters/filters-list.twig" with {
                    'title': __('Thèmes', 'ismees'),
                    'filters': subjects_members,
                    'taxo_name': 'subjects'
                    }
                %}
                {% include "partials/filters/filters-list.twig" with {
                    'title': __('Types de ressource', 'ismees'),
                    'filters': types_members,
                    'taxo_name': 'type'
                    }
                %}
            </div>
        </div>
        <div class="button-ctn close-sidebar">
            {% if results and results|length > 1 %}
                <a class="main-button -blue" href="#resultsList">{{__('Afficher les', 'ismees')}} <span class="result-count"> {{ total }} </span> {{__('résultats', 'ismees')}}</a>
            {% elseif results and results|length == 1 %}
                <a class="main-button -blue" href="#resultsList">{{__('Afficher 1 résultat', 'ismees')}}</a>
            {% else %}
                <a class="main-button -blue" href="#resultsList">{{__('Pas de résultat', 'ismees')}}</a>
            {% endif %}
        </div>
        <a id="clear-filters">{{ __('Réinitialiser', 'goute-au-loisir') }}</a>
    </div>
</form>