<form id="ajax-form" class="search-filters-form">
    <input type="hidden" id="ajax-settings" data-url="{{ url }}">
    <div class="search-input-ctn" data-aos="fade-up" data-aos-delay="300">
        <div class="input-ctn">
            <input type="text" value="{{ params['search'] }}" name="search" placeholder="Rechercher" />
        </div>
    </div>
    <div class="subfilters-ctn">
        <div id="togglerContainer" data-aos="fade-left" data-aos-delay="300">
            <label for="filtersToggler" id="unchecked-label">{{__('Étudiant.es', 'ismees')}}</label>
            <input type="checkbox" name="for_members" id="filtersToggler" {% if for_members %}checked{% endif %}>
            <label for="filtersToggler" id="checked-label">{{__('Personnel des établissements', 'ismees')}}</label>
        </div>
        <div class="display-filters-ctn" data-aos="fade-right" data-aos-delay="300">
            <p class="result-counter"><span id="result-count">{{ resources.found_posts }}</span> {{__('résultats', 'simees')}}</p>
            <div class="filters-button">
                <a class="main-button -blue" id="filtersToggler"><i class="icon-filter"></i>{{ __('Filtres', 'ismees') }}</a>
            </div>
        </div>
    </div>
    <div class="sidebar-filters">
        <div>
            <p>{{__('Types de ressource', 'ismees')}}</p>
            <ul>    
                {% for item in items %}
                    <li><a></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</form>
