<div class="footer-cta">
    <div class="container-xxl">
        <div class="cta-content-ctn">
            <h2 class="large">{{ page.meta('cta_footer').title }}</h2>
            <div class="button-ctn">
                <a class="main-button -blue" href="{{ page.meta('cta_footer').button.url }}" target="{{ page.meta('cta_footer').button.target }}">{{ page.meta('cta_footer').button.title }}</a>
            </div>
            <img class="cta-background-image" src="{{theme.link}}/assets/images/yellow-loop-arrow.svg" alt="" />
        </div>
    </div>
</div>