<div class="footer-form">
    <div class="dropdown-form-button">
        <img class="form-image" src="{{ theme.link }}/assets/images/paper-plane.svg" alt="{{ __('Avion en papier', 'ismees') }}" />
        <a class="subscribe-button">{{ __('Abonnez-vous à l’infolettre', 'ismees') }}<i class="icon-simple-arrow-right"></i></a>
    </div>
    <form id="subscriptionForm">
        <div class="container-style">
            <div class="introduction">
                <p>{{ __('Lorem ipsum dolor sit amet consectetur. In tristique posuere pharetra nulla nisl.', 'ismees') }}</p>
                <div class="radio-ctn">
                    <label>
                        <input type="radio" name="target" value="etudiant" required checked aria-label="{{ __('Étudiant', 'ismees') }}">
                        <span class="radio-circle"></span>
                        {{ __('Étudiant', 'ismees') }}
                    </label>
                    <label>
                        <input type="radio" name="target" value="personnel" aria-label="{{ __('Membre du personnel', 'ismees') }}">
                        <span class="radio-circle"></span>
                        {{ __('Membre du personnel', 'ismees') }}
                    </label>
                </div>
            </div>
            <div class="inputs-ctn">
                <div class="input">
                    <input type="text" id="name" name="name" placeholder="Prénom" required aria-label="{{ __('Prénom', 'ismees') }}">
                    <span id="nameError" class="error" role="alert">{{ __('Le prénom est invalide', 'ismees') }}</span>
                </div>
                <div class="input">
                    <input type="text" id="surname" name="surname" placeholder="Nom" required aria-label="{{ __('Nom', 'ismees') }}">
                    <span id="surnameError" class="error" role="alert">{{ __('Le champs nom est invalide', 'ismees') }}</span>
                </div>
                <div class="input">
                    <input type="email" id="email" name="email" placeholder="Courriel" required aria-label="{{ __('Courriel', 'ismees') }}">
                    <span id="emailError" class="error" role="alert">{{ __('Le courriel est invalide', 'ismees') }}</span>
                </div>
                <div class="input">
                    <input type="text" id="establishment" name="establishment" placeholder="Établissement ou organisation" required aria-label="{{ __('Établissement ou organisation', 'ismees') }}">
                    <span id="establishmentError" class="error" role="alert">{{ __('L\'établissement est invalide', 'ismees') }}</span>
                </div>
                <button class="main-button -blue" type="submit" aria-label="{{ __('Je m\'abonne', 'ismees') }}">{{ __('Je m\'abonne', 'ismees') }}<i class="icon-arrow-right-bold"></i></button>
            </div>
            <p class="success-message">{{ __('Vous avez été enregistré avec succès !', 'ismees')}}</p>
        </div>
    </form>
</div>