<div class="share-content" data-aos="fade-down" data-aos-delay="300">
    <div class="socials-share-ctn">
        <span class="share-label">{{ __("Partager", "afg") }}</span>
        <div class="list-ctn">
            <a class="button st-custom-button facebook-share-button" data-network="facebook" aria-label="{{ __('Partager sur facebook', 'ismees') }}"><i class="icon-facebook"></i></a>
            <a class="button st-custom-button twitter twitter-share-button" data-network="twitter" aria-label="{{ __('Partager sur Twitter', 'ismees') }}"><i class="icon-twitter"></i></a>
            <a class="button st-custom-button" href="{{ 'mailto:?body=' ~ pageUrl }}" aria-label="{{ __('Partager par courriel', 'ismees') }}"><i class="icon-mail"></i></a>
        </div>
    </div>
</div>