<div class="share-content">
    <div class="socials-share-ctn">
        <span class="share-label">{{ __("Partager", "afg") }}</span>
        <ul class="list-ctn">
            <li class="button st-custom-button facebook-share-button" data-network="facebook" aria-label="{{ __('Partager sur facebook', 'ismees') }}"><i class="icon-facebook"></i></li>
            <li class="button st-custom-button twitter twitter-share-button" data-network="twitter" aria-label="{{ __('Partager sur Twitter', 'ismees') }}"><i class="icon-twitter"></i></li>
            <li class="button st-custom-button"><a href="{{ 'mailto:?body=' ~ url }}" aria-label="{{ __('Partager par courriel', 'ismees') }}"><i class="icon-mail"></i></a></li>
        </ul>
    </div>
</div>