<ul class="socials-list">
    {% if options.facebook %}
        <li>
            <a href="{{ options.facebook }}" target="_blank"><span class="icon-facebook"></span></a>
        </li>
    {% endif %}
    {% if options.tiktok %}
        <li>
            <a href="{{ options.tiktok }}" target="_blank"><span class="icon-tiktok"></span></a>
        </li>
    {% endif %}
    {% if options.linkedin %}
        <li>
            <a href="{{options.linkedin }}" target="_blank"><span class="icon-linkedin"></span></a>
        </li>
    {% endif %}
    {% if options.twitter %}
        <li>
            <a href="{{options.twitter }}" target="_blank"><span class="icon-twitter"></span></a>
        </li>
    {% endif %}
    {% if options.instagram %}
        <li>
            <a href="{{ options.instagram }}" target="_blank"><span class="icon-instagram"></span></a>
        </li>
    {% endif %}
    {% if options.youtube %}
        <li>
            <a href="{{ options.youtube }}" target="_blank"><span class="icon-youtube"></span></a>
        </li>
    {% endif %}
</ul>