<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js no-svg" {{ site.language_attributes }}> 
<!--<![endif]-->
<head>
	<meta charset="{{ site.charset }}" />
	{% block addsearch_meta %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=#{property?._id}&product=custom-share-buttons"></script>

	{{ function('wp_head') }}
</head>
<body class="{{ body_class }}" ?>
	{% include 'partials/header.twig' %}
	{% block content %}
	{% endblock %}
	{% include 'partials/footer.twig' %}
	{{ function('wp_footer') }}

	{% block addsearch_param %} <script id="addsearch-param"></script> {% endblock %}
	{% block specific_script %}{% endblock %}
</body>
</html>