{# Processes and decomposes the two dates #}
{% if item.start_date %}
    {% set startDateString = item.start_date[0:4] ~ '-' ~ item.start_date[4:2] ~ '-' ~ item.start_date[6:2] %}
    {% set startDate = date(startDateString) %}
    {% set startDay = startDate|date('l') %}
    {% set startDayNumber = startDate|date('j') %}
    {% set startMonth = startDate|date('F') %}
    {% set startYear = startDate|date('Y') %}
{% endif %}

{% if item.end_date %}
    {% set endDateString = item.end_date[0:4] ~ '-' ~ item.end_date[4:2] ~ '-' ~ item.end_date[6:2] %}
    {% set endDate = date(endDateString) %}
    {% set endDay = endDate|date('l') %}
    {% set endDayNumber = endDate|date('j') %}
    {% set endMonth = endDate|date('F') %}
    {% set endYear = endDate|date('Y') %}
{% endif %}

<div class="activity-card" data-aos="fade-up" data-aos-delay="300">
    <div class="row">
        <div class="col-lg-3 {{ item.thumbnail ? 'col-sm-6' : 'col-sm-12' }} col-border order-sm-1">
            <div class="date-ctn">
                <p class="day">{{ startDay }} {% if endDay and startDate != endDate %} <span> {{__('à', 'ismees') ~ ' ' ~ endDay }}</span>{% endif %}</p>
                <p class="day-number">{{ startDayNumber }} {% if endDate and startDate != endDate %} <span> {{ '-' ~ ' ' ~ endDayNumber }}</span>{% endif %}</p>
                <p class="month-year">{{ startMonth ~ ' ' ~ startYear }} {% if endDate and startDate != endDate and (startMonth != endMonth or startYear != endYear) %} <span> {{ 'et' ~ ' ' ~ endMonth ~ ' ' ~ endYear }}</span>{% endif %}</p>
            </div>
        </div>
        <div class="{{ item.thumbnail ? 'col-lg-6' : 'col-lg-9' }} col-md-12 order-sm-3 order-lg-2">
            <div class="card-description-ctn">
                <h3 class="card-title large">{{ item.title }}</h3>
                {% if item.post_excerpt %}
                    <p class="card-excerpt">{{ item.post_excerpt }}</p>
                {% endif %}
                <div class="card-ctas">
                    {% if item.content %}
                        <div class="informations">
                            <div class="gutenberg">
                                {{ item.content }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="ctas-ctn">
                        {% if item.content %}
                            <div class="more">
                                <a class="secondary-button -grey read-more">{{__('Lire plus', 'ismees')}}<i class="icon-plus-alternative"></i></a>
                                <a class="secondary-button -grey read-less">{{__('Lire moins', 'ismees')}}<i class="icon-less-alternative"></i></a>
                            </div>
                        {% endif %}
                        {% if item.meta('activity_website') %}
                            <a class="secondary-button -grey" href="{{ item.meta('activity_website') }}" target="_blank">{{__('Voir le détail de l’activité', 'ismees')}}<i class="icon-external-link"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if item.thumbnail %}
            <div class="col-lg-3 col-sm-6 order-sm-2 order-lg-3">
                <div class="image-ctn">
                    <img src="{{ item.thumbnail }}" alt={{ __('Image de', 'ismees') ~ item.title }}/>
                </div>
            </div>
        {% endif %}
    </div>
</div>