{% set post_id = url_to_postid(item.link.url) %}
{% set post_thumbnail = get_post_thumbnail(post_id) %}

<div class="slider-card jsBlockLink">
    <div class="card-image-ctn">
        {% if item.image.url  %}
            <img class="card-image" src="{{ item.image.url }}" alt="{{ item.image.alt }}" />
        {% elseif post_id and post_thumbnail %}
            <img class="card-image" src="{{ post_thumbnail }}" alt="{{ item.link.title }}" />
        {% else %}
            <img class="card-image" src="{{ theme.link }}/assets/images/default-image.png" alt="{{ item.image.alt }}" />
        {% endif %}
    </div>
    <a class="card-title" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
</div>