{% extends 'base.twig' %}
{% block content %}
    <main class="page-about" data-aos="fade" data-aos-delay="300">
        <div class="banner-content-ctn">
            <div class="container-lg">
                <div class="title-ctn" data-aos="fade" data-aos-delay="300">
                    {% include "partials/breadscrum.twig" %}
                    <h1 class="page-title" data-aos="fade-up" data-aos-delay="500">{{ post.title }}</h1>
                    <div class="subtitle" data-aos="fade-up" data-aos-delay="500">
                        {{ __('Station santé mentale étudiante','ismees') }}
                    </div>
                    <div class="title-decoration write-svg">
                        <svg width="339" height="41" viewBox="0 0 339 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.20211 26.3432C1.25724 27.133 3.77677 21.7622 6.61138 20.1826C11.3357 17.6551 16.5325 15.7596 21.5718 14.022C31.6504 10.5468 71.6497 -4.61776 80.626 5.33396C86.9251 12.2844 68.0279 34.8732 76.8467 38.5064C83.1458 41.0338 94.9565 33.1356 99.9958 31.0821C117.003 23.9737 138.105 7.3875 158.105 9.59899C176.53 11.4946 155.113 33.2936 163.617 34.8732C182.829 38.6643 200.624 15.2857 218.262 14.8118C228.025 14.4959 226.451 27.4489 233.537 28.0808C239.836 28.5547 259.363 16.3914 269.127 14.9698C280.465 13.2322 283.143 23.1839 293.694 23.4998C308.024 23.8157 323.299 16.0755 337 13.3901" stroke="#242457" stroke-width="4" stroke-miterlimit="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="container-left-side">
                <div class="row reverse-row-mobile">
                    <div class="col-lg-9 col-md-8">
                        <div class="main-content-ctn">

                            {% if post.content %}
                                <div id="context" class="anchor-section" data-aos="fade-up" data-aos-delay="300">
                                    <h2 class="large section-title">{{ __('Contexte', 'ismees')}}</h2>
                                    <div class="gutenberg">
                                        {{ post.content }}
                                    </div>
                                </div>
                            {% endif %}

                            {% if post.meta('members')|length > 0 %}
                                <div id="members" class="anchor-section members-ctn">
                                    <h2 class="large section-title"  data-aos="fade-up" data-aos-delay="300">{{ __('Membre de l\'équipe', 'ismees')}}</h2>
                                    <div class="members-list">
                                        {% for member in post.meta('members') %}
                                            {% include "partials/cards/image-content-card.twig" with {
                                                'item': member
                                            } %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if post.meta('partners')|length > 0 %}
                                <div id="partners" class="anchor-section partners-ctn">
                                    <h2 class="section-title large"  data-aos="fade-up" data-aos-delay="300">{{ __('Réseau de collaboration', 'ismees')}}</h2>
                                    <div class="partners-introduction"  data-aos="fade-up" data-aos-delay="300">{{ post.meta('partners').intro }}</div>
                                    <div class="partners-list"  data-aos="fade-up" data-aos-delay="300">
                                        {% for partner in post.meta('partners').items %}
                                            {% include "partials/cards/image-link-card.twig" with {
                                                'item': partner
                                            } %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="navigation-ctn"  data-aos="fade-up" data-aos-delay="300">
                            <div class="anchors-ctn">
                                {% if post.content %}
                                    <a class="anchor" href="#context">{{ __('Contexte', 'ismees') }}</a>
                                {% endif %}
                                {% if post.meta('members')|length > 0 %}
                                    <a class="anchor" href="#members">{{ __('Membres de l’équipe', 'ismees') }}</a>
                                {% endif %}
                                {% if post.meta('partners')|length > 0 %}
                                    <a class="anchor" href="#partners">{{ __('Collaborateurs et partenaires', 'ismees') }}</a>
                                 {% endif %}
                            </div>
                            {% if post.meta('mail') %}
                                <div class="button-ctn">
                                    <a class="main-button -blue" href="mailto:{{post.meta('mail')}}">{{ __('Nous joindre par courriel', 'ismees') }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="background-img -green" src="{{theme.link}}/assets/images/circle-green.svg" alt="" />
        <img class="background-img -yellow" src="{{theme.link}}/assets/images/circle-yellow.svg" alt="" />
        <img class="background-img -red" src="{{theme.link}}/assets/images/circle-red.svg" alt="" />
    </main>
{% endblock %}
{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/about.js"></script>
{% endblock %}