{% extends 'base.twig' %}
{% block content %}
    <main class="front-page" data-aos="fade" data-aos-delay="300">
        <div class="container">
            {% include "partials/banners/home-banner.twig" %}
        </div>
        <div class="page-content">
            <div class="ctas-section">
                {% include "partials/cta/home-cta.twig" with {
                    'item': post.meta('cta_section_1'),
                    'class': 'section-1',
                    'image': theme.link ~ '/assets/images/home-images/bubble-heart-purple.svg'
                } %}
                {% include "partials/cta/home-cta.twig" with {
                    'item': post.meta('cta_section_2'),
                    'class': 'section-2',
                    'image': theme.link ~ '/assets/images/light-bulb-salmon.svg'
                } %}
            </div>
            <div class="container">
                <div class="resources-ctn" data-aos="fade-up" data-aos-delay="300">
                    <h2 class="resources-title">{{ __('Nos ressources', 'ismees') }} <span class="cirle-center-background -darkblue">{{ __('à découvrir', 'ismees') }}</span></h2>
                    <div class="resources-ctas">
                        <a class="intern-button" href="{{ options.config_members_resources }}">{{ __('Pour personnel des établissements', 'ismees') }}</a>
                        <a class="intern-button" href="{{ options.config_students_resources }}">{{ __('Pour population étudiante', 'ismees') }}</a>
                    </div>
                </div>
            </div>
            {% include "partials/home-slider.twig" with {
                'items': post.meta('featured_pages'),
            } %}
        </div>
    </main>
{% endblock %}
{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/front-page.js"></script>
{% endblock %}