{% extends 'base.twig' %}
{% block content %}
    <main class="hub" data-aos="fade" data-aos-delay="300">
        {% include "partials/banners/banner-content-title.twig" with {
                'ontitle': post.ontitle
            }
        %}
        <div class="subjects-ctn">
            {% for subject in subjects %}
                <div class="subject jsBlockLink">
                    <div class="content-ctn">
                        <p class="subject__title">{{ subject.title }}</p>
                        {% if subject.post_excerpt %}
                            <p class="subject__excerpt small">{{ subject.post_excerpt }}</p>
                        {% endif %}
                        <div class="subject__btn">
                            <a href="{{ subject.link }}" aria-label="{{ __('Lien vers', 'ismees') ~ subject.title }}"><i class="icon-arrow-right-bold"></i></a>
                        </div>
                    </div>
                    {% if subject.thumbnail %}
                        <div class="image-ctn">
                            <img class="subject__image" src="{{ subject.thumbnail }}" alt="{{ __('Image de ', 'ismees') ~ subject.title }}"/>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="container-md">
            <div class="hub-footer">
                <p class="small">{{ post.end_page_text}}</p>
            </div>
        </div>
    </main>
{% endblock %}
{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/hub.js"></script>
{% endblock %}