<div class="banner-title-illustration">
    <div class="container-xxxl">
        <div class="banner-ctn">
            {% include "partials/breadscrum.twig" %}
            {% if students %}
                <h1 class="banner-title" data-aos="fade-up" data-aos-delay="500">{{ __('Outils', 'ismees')}}</h1>
                <p class="subtitle" data-aos="fade-up" data-aos-delay="500">{{ __('pour les ', 'ismees') }} <span class="background-line -green">{{ __('étudiant.es', 'ismees') }}</span></p>
                <img class="right-illustration" src="{{theme.link ~ '/assets/images/bubble-heart.svg' }}" alt=""/>
            {% elseif members %}
                <h1 class="banner-title" data-aos="fade-up" data-aos-delay="500">{{ __('Outils', 'ismees')}}</h1>
                <p class="subtitle" data-aos="fade-up" data-aos-delay="500">{{ __('pour le ', 'ismees') }} <span class="background-line -red">{{ __('personnel des établissements', 'ismees') }}</span></p>
                <img class="right-illustration" src="{{theme.link}}/assets/images/light-bulb.svg" alt="" />
            {% endif %}
            <img class="left-illustration" src="{{theme.link ~ '/assets/images/loop-line-grey.svg'}}" alt="" />
        </div>
    </div>
</div>