{% if taxonomy %}
    {% set onTitle = get_primary_taxonomy(post.id, taxonomy, true).name %}
    {% set iconCategory = get_primary_taxonomy(post.id, taxonomy, true).icon %}
{% endif %}

<div class="banner-image-title-author">
    <div class="{{ containerClass ? containerClass : 'container-xxxl' }}">
        <div class="banner-ctn">
            {% include "partials/breadscrum.twig" %}
            <div class="banner-content-ctn">
                {% if post.thumbnail %}
                    <img data-aos="fade-up" data-aos-delay="500" class="banner-image" src="{{ post.thumbnail }}" alt="{{ __('Image de', 'ismees') ~ post.title }}"/>
                {% else %}
                    <img data-aos="fade-up" data-aos-delay="500" class="banner-image" src="{{ src ? src : theme.link ~ '/assets/images/default-image.png' }}" alt="{{ __('Image de', 'ismees') ~ post.title }}"/>
                {% endif %}
                <div class="title-ctn">
                    <div>
                        {% if taxonomy and onTitle %}
                            <div class="ontitle-ctn" data-aos="fade-up" data-aos-delay="500">
                                {% if iconCategory %}
                                    <div class="card-icon-ctn">
                                        <img class="card-icon" src="{{ site.home_url ~ '/wp-content/plugins/acf-icon-picker/assets/img/acf/' ~ iconCategory ~ '.svg' }}" alt="" />
                                    </div>
                                {% endif %}
                                <p class="ontitle-title">{{ onTitle }}</p>
                            </div>
                        {% endif %}
                        <h1 class="page-title" data-aos="fade-up" data-aos-delay="500">{{ post.title }}</h1>
                    </div>
                    {% if post.meta('author').surname or post.meta('author').name or post.meta('author').position %}
                        <div class="author-ctn" data-aos="fade-up" data-aos-delay="500">
                            <img src="{{theme.link}}/assets/images/pen.svg" />
                            <div class="author-infos-ctn">
                                {% if post.meta('author').surname or post.meta('author').name %}
                                    <p class="author-name">{{ __('Par', 'ismees') ~ " " ~ post.meta('author').surname ~ " " ~ post.meta('author').name }}</p>
                                {% endif %}
                                {% if post.meta('author').position %}
                                    <p class="author-position">{{ post.meta('author').position }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>