<div class="home-banner">
    <div class="row gx-3">
        <div class="banner-left">
            <div class="title-ctn" data-aos="fade" data-aos-delay="300">
                <p class="ontitle">{{ __('La', 'ismees')}} <span class="bottom-decoration -blue">{{ __('station', 'ismees')}}</span> {{ __('pour soutenir la', 'ismees')}}</p>
                <h1 class="page-title" data-aos="fade-up"><span class="style-mobile">{{ __('santé', 'ismees')}}</span> <span class="style-desktop">{{ __('mentale', 'ismees')}}</span> {{ __('étudiante', 'ismees')}}</h1>
                <div class="subtitle" data-aos="fade-up">
                    {{ post.content }}
                </div>
            </div>
            <div class="defilate" data-aos="fade" data-aos-delay="800">
                <div>
                    <p>{{ __('Défiler', 'ismees') }}</p>
                </div>
                <img src="{{theme.link}}/assets/images/home-images/blue-scroll-arrow-down.svg" alt="" />
            </div>
        </div>
        <div class="banner-right" data-aos="fade" data-aos-delay="1000">
        {# MANAGE THE ANIMATION IN THE JAVASCRIPT FILE : home-banner.js #}
            <div class="image-ctn">
                <div class="background-ctn">
                    <div class="banner-image-ctn -yellow" id="bannerImageCtn">
                        <div class="placeholder-ctn">
                            <img class="banner-placeholder" src="{{theme.link}}/assets/images/home-images/placeholder-image.png" alt="" />
                        </div>
                        <div class="animation-images-ctn">
                            <div class="animation-image">
                                <img class="banner-img" src="{{theme.link}}/assets/images/home-images/slide-01.png" alt="" />
                                <img class="overlay-image slide1-1" src="{{theme.link}}/assets/images/home-images/handdraw-ligne-5.svg" alt="" />
                                <img class="overlay-image slide1-2" src="{{theme.link}}/assets/images/home-images/handdraw-asterisque.svg" alt="" />
                            </div>
                            <div class="animation-image">
                                <img class="banner-img" src="{{theme.link}}/assets/images/home-images/slide-02.png" alt="" />
                                <img class="overlay-image slide2-1" src="{{theme.link}}/assets/images/home-images/handdraw-etoile.svg" alt="" />
                                <img class="overlay-image slide2-2" src="{{theme.link}}/assets/images/home-images/handdraw-ligne-2.svg" alt="" />
                            </div>
                            <div class="animation-image">
                                <img class="banner-img" src="{{theme.link}}/assets/images/home-images/slide-03.png" alt="" />
                                <img class="overlay-image slide3-1" src="{{theme.link}}/assets/images/home-images/handdraw-ligne-3.svg" alt="" />
                                <img class="overlay-image slide3-2" src="{{theme.link}}/assets/images/home-images/handdraw-asterisque.svg" alt="" />
                            </div>
                            <div class="animation-image">
                                <img class="banner-img" src="{{theme.link}}/assets/images/home-images/slide-04.png" alt="" />
                                <img class="overlay-image slide4-1" src="{{theme.link}}/assets/images/home-images/handdraw-ligne-5.svg" alt="" />
                                <img class="overlay-image slide4-2" src="{{theme.link}}/assets/images/home-images/handdraw-asterisque.svg" alt="" />
                            </div>
                            <div class="animation-image">
                                <img class="banner-img" src="{{theme.link}}/assets/images/home-images/slide-05.png" alt="" />
                                <img class="overlay-image slide5-1" src="{{theme.link}}/assets/images/home-images/handdraw-ligne-4.svg" alt="" />
                                <img class="overlay-image slide5-2" src="{{theme.link}}/assets/images/home-images/handdraw-asterisque.svg" alt="" />
                            </div>
                            <div class="animation-image">
                                <img class="banner-img" src="{{theme.link}}/assets/images/home-images/slide-06.png" alt="" />
                                <img class="overlay-image slide6-1" src="{{theme.link}}/assets/images/home-images/handdraw-etoile.svg" alt="" />
                                <img class="overlay-image slide6-2" src="{{theme.link}}/assets/images/home-images/handdraw-ligne-3.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>