<div class="home-banner">
    <div class="row gx-3">
        <div class="banner-left">
            <div class="title-ctn" data-aos="fade" data-aos-delay="300">
                <p class="ontitle">{{ __('La', 'ismees')}} <span class="bottom-decoration -blue">{{ __('station', 'ismees')}}</span> {{ __('pour soutenir la', 'ismees')}}</p>
                <h1 class="page-title" data-aos="fade-up"><span class="style-mobile">{{ __('santé', 'ismees')}}</span> <span class="style-desktop">{{ __('mentale', 'ismees')}}</span> {{ __('étudiante', 'ismees')}}</h1>
                <div class="subtitle" data-aos="fade-up">
                    {{ post.content }}
                </div>
            </div>
            <div class="defilate" data-aos="fade" data-aos-delay="800">
                <div>
                    <p>{{ __('Défiler', 'ismees') }}</p>
                </div>
                <img src="{{theme.link}}/assets/images/home-images/blue-scroll-arrow-down.svg" alt="" />
            </div>
        </div>
        <div class="banner-right" data-aos="fade" data-aos-delay="1000">
        {# MANAGE THE IMAGES IN THE JAVASCRIPT FILE : front-page.js #}
            <div class="image-ctn">
                <div class="background-ctn">
                    <div class="banner-image-ctn" id="bannerImageCtn"></div>
                </div>
            </div>
        </div>
    </div>
</div>