{% if page.content %}
<div class="page-content content-details-reviews">
    <div class="container-xl">
        <div class="content-details-reviews-ctn">
            <div class="article-infos-ctn" data-aos="fade-up" data-aos-delay="500">
                {% if page.meta('subjects')|length > 0 %}
                    <div class="subjects-ctn">
                        {% if students %}
                            <p class="subjects-title">{{ __('Sujets', 'ismees') }}</p>
                        {% else %}
                            <p class="subjects-title">{{ __('Thématiques', 'ismees') }}</p>  
                        {% endif %}
                        {% for subject in page.meta('subjects') %}
                            <div class="subject">
                                <a href="{{ subject.link }}">{{ subject.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if page.terms('resource_category') %}
                    <div class="categories-ctn">
                        {% if students %}
                            <p class="categories-title">{{ __('Catégories', 'ismees') }}</p>
                        {% else %}
                            <p class="categories-title">{{ __('Populations étudiantes', 'ismees') }}</p>
                        {% endif %}
                        {% for category in page.terms('resource_category') %}
                            <div class="category">
                                <a>{{ category.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% include "partials/socials/socials-share.twig" with {
                    'pageUrl': page.link,
                    'block': true
                } %}
            </div>
            {% include "partials/page-content/content-reviews.twig" %}
        </div>
    </div>
</div>
{% endif %}