<div class="container-sm content-reviews" data-aos="fade-up" data-aos-delay="300">
    <div class="gutenberg">
        {{ page.content }}
    </div>
    <div class="reviews-back-ctn {{ backButton ? '' : '-align-right' }}">
        {% if backButton %}
            <div class="back-button-ctn">
                <a class="back-button" href="{{ backBtnLink }}"><i class="icon-right-arrow-long"></i>{{ backBtnText }}</a>
            </div>
        {% endif %}
        <div class="reviews-ctn">
            <p>{{ __('Ce contenu vous a-t-il été utile ?', 'ismees') }}</p>
            <div id="like-dislike-ctn"></div>
        </div>
    </div>
</div>