<div class="container-sm content-reviews" data-aos="fade-up" data-aos-delay="300">
    <div class="gutenberg">
        {{ page.content }}
    </div>
    <div class="reviews-back-ctn {{ backButton ? '' : '-align-right' }}">
        {% if backButton %}
            <div class="back-button-ctn">
                <a class="back-button" href="{{ backBtnLink }}"><i class="icon-right-arrow-long"></i>{{ backBtnText }}</a>
            </div>
        {% endif %}
        <div class="reviews-ctn">
            <p>{{ __('Ce contenu vous a-t-il été utile ?', 'ismees') }}</p>
            {% filter shortcodes %}
                [likebtn theme="custom" icon_l_url="http://ismees.kryzastage3.com/wp-content/uploads/2023/04/like.svg#161" icon_d_url="http://ismees.kryzastage3.com/wp-content/uploads/2023/04/dislike.svg#159" lang="fr" show_like_label="0" ef_voting="push" bp_notify="0"]
            {% endfilter %}
        </div>
    </div>
</div>